*.json
*.csv
*.cpp
*.so
*.bag
*.tex
*.txt
*.pkl
*.npy
*.npz
*.pth
.venv
.direnv
.mypy_cache
build
checkpoints
build
data
*egg-info
MUJOCO_LOG.TXT
mujoco_model/assets
mujoco_model/*.xml
acados_code
__pycache__
